
@keyframes ldio-718rxvkg4oj {
    0% {
        top: 56.64px;
        left: 56.64px;
        width: 0;
        height: 0;
        opacity: 1;
    }
    100% {
        top: -16.52px;
        left: -16.52px;
        width: 146.32px;
        height: 146.32px;
        opacity: 1;
    }
}

.ldio-718rxvkg4oj div {
    position: absolute;

    border-width: 2.36px;
    border-style: solid;
    opacity: 1;
    border-radius: 50%;
    animation: ldio-718rxvkg4oj 1.2195121951219512s cubic-bezier(0,0.2,0.8,1) infinite;
}

.ldio-718rxvkg4oj div:nth-child(1) {
    border-color: #00a379;
}

.ldio-718rxvkg4oj div:nth-child(2) {
    border-color: yellow;
    animation-delay: -0.6097560975609756s;
}

.loadingio-spinner-ripple-bceliphkf9p {
    width: 118px;
    height: 118px;
    display: inline-block;
    overflow: hidden;


}
.ldio-718rxvkg4oj {
    width: 100%;
    height: 100%;
   position: absolute;
    left: 47%;

    transform: translateZ(0) scale(1);
    backface-visibility: hidden;
    transform-origin: 0 0; /* see note above */
}
.ldio-718rxvkg4oj div { box-sizing: content-box;
position: absolute;
}

